/* Google Fonts */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.cdnfonts.com/css/geo-sans-light');
@import url('https://fonts.cdnfonts.com/css/augustus');
@import url("https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.5/flickity.min.css");


/* CSS RESET */

*{
    margin: 0;
    padding: 0;
    border: 0;
}
/* Topo do site */
#topo {
    font-family: 'GeosansLight', sans-serif;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Corpo do site */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
/* Final do site */

.hero-slider{
    background-color: #000000;
    margin-top: -100px;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    font-family: 'GeosansLight', sans-serif;
}

.hero-slider .carousel-cell{
    width: 50vh;
    height: 50vh;
    background: no-repeat center/cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-slider .carousel-cell .info-container{
    color: #ffffff;
    position: relative;
}

.hero-slider .carousel-cell .info-container .header{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 8px;
}

.hero-slider .carousel-cell .info-container .text{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 35px;
    /* font-weight: bold; */
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 32px;
}

.hero-slider .carousel-cell .info-container button{
    padding: 12px 20px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 3px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-slider .carousel-cell .info-container button:hover{
    background: #fff;
    color: #000;
    font-weight: bold;
}

.hero-slider .flickity-prev-next-button{
    width: 55px;
    height: 55px;
    background: transparent;
    margin-left: -20px;
    margin-right: -20px;
}

.hero-slider .flickity-prev-next-button .arrow{
    fill: #000000;
}

.hero-slider .flickity-page-dots{
    bottom: 60px;
}

.hero-slider .flickity-page-dots .dot{
    margin-bottom: -50px;
    width: 40px;
    height: 10px;
    background: rgba(255, 255, 255, 0.4);
    opacity: 1;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.hero-slider .flickity-page-dots .dot:hover,
.hero-slider .flickity-page-dots .dot.is-selected{
    background: #fff;
}

/* Layout */
.Parallax {
    color: #343538;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.Container {
    background-color: rgba(255, 255, 255, 0);
    margin: 0 auto;
}
.Flex {
    display: flex;
    justify-content: space-between;
}

.Flex3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Botao {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-weight: 400;
    background-color: rgb(0, 0, 0);
    padding: 10px 40px;
    border: 2px solid white;
    border-radius: 25px;
}

/* Smartphone Portrait */

    /* Destaque */
    main h1, main h2 {
        text-shadow: #343538 0.05em 0.05em 0.05em;
    }
    .h1 {
        position: static;
        margin-bottom: 10px;
        height: 90px;
        width: 300px;
    }
    .h2{
        position: static;
        margin-bottom: 100px;
        height: 90px;
        width: 300px;
    }


/* Cabeçalho */
header {
    justify-content: space-between;
    background-color: #000000;
    opacity: 0.99;
    height: 70px;
}
#logo img {
    margin-top: 100px;
    margin-left: -35px;
    width: 50px;
    height: 50px;
}
#check {
    display: none;
}
label {
    font-size: 3em;
    position: fixed;
    padding-right: 15px;
    top: 0px;
    right: 10px;
    color: rgba(255, 255, 255, 1);
}
/* nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    height: 100vh;
    width: 100px;
    top: 60px;
    right: -100%;
    align-items: center;
    background-color: black;
} */
nav ul {
    list-style: none;
    background-color: black;
    position: fixed;
    height: 60vh;
    top: 30px;
    right: -100%;
    width: 240px;
    transition: all 0.5s;
}
nav a {
    text-decoration: none;
    color: white;
    margin: 5px;
    transition: color 0.3s;
}
#check:checked ~ul {
    right: 0;
}
nav ul li {
    padding: 20px;
    border-bottom: 1px solid #000000;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
/* Destaque */
.line {
    top: 20px;
    width: 100%;
    height: 3px;
    background: linear-gradient(to top left, gold, orange, chocolate);
}
main {
    margin-top: 150px;
    height: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
main img {
    width: 360px;
    height: 220px;
    margin-top: 100px;
}
main h1 {
    font-size: 4em;
}

main h2 {
    font-size: 2em;
}
/* Sobre */

#Sobre {
    /* background-image: url(img/logonf.png); */
    /* background-position-x: center;
    background-size: cover; */
    padding: 30px 0px;
    text-align: center;
    justify-content: center;
}
#Sobre h1 {
    font-size: 2em;
}
#Sobre h2 {
    font-size: 1.5em;
}
#Sobre h3 {
    text-shadow: 1px 2px black;
    color:  #ffa600;
    font-size: 1em;
    margin-left: 3px;
}
.foto {
    background-image: url(img/logob.png);
    background-size: 50vh;
    margin-top: 10px;
    margin-left: -100px;
    height: 550px;
    width: 380px;
    position: relative;
    left: -360px; /* Começa fora da tela à esquerda */
    transition: transform 1s ease, left 1s ease
}
.foto1 {
    background-image: url(img/CAPA.jpg);
    background-size: 50vh;
    margin-top: 10px;
    margin-left: 100px;
    height: 550px;
    width: 380px;
    position: relative;
    left: -360px; /* Começa fora da tela à esquerda */
    transition: transform 1s ease, left 1s ease
}
.destaqueSobre {
    font-family: 'Augustus', 'sans serif';
    color: #022031;
    /* text-shadow: 1px 1px 3px black; */
} 
 .textoSobre {
    /* text-shadow: 1px 1px 3px #000000; */

    color: #022031;
    padding: 10px 10px 10px 10px;
    text-align: center;
    justify-content: center;
} 

/* LOCALIZAÇÃO FAIXA AZUL  */
#null {
    background: linear-gradient(to bottom left, chocolate, orange, gold);
    text-shadow: 1px 1px 0px black;
    font-family: 'Geosanslight', 'sans serif';
    padding: 10px 10px;
    color: rgb(255, 255, 255);
    width: cover;
    height: 95px;
    text-align: center;
    justify-content: center;
}
#null h2 {
    font-size: 2em;
}
/* MAPAS */
#local {
    display: flex;
}

.localy {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.map {
    background-color: #fff;
    box-shadow: 3px 2px 10px orange;
    text-align: center;
    justify-content: center;
}
/* CONTATO REAL */
#Contato1 {
    height: 150px;
    margin-top: 0px;
    background-color: #000000;
    text-align: center;
}

.textoContato {
    margin-top: 10px;
    text-align: center;
    font-size: small;
    color: white;
    text-shadow: 1px 1px 2px #000000;
    justify-content: center;
}
.textoContato a {
    text-decoration: none;
    color: white;
}
.textoContato1 {
    text-align: center;
    font-size: small;
    color: white;
    text-shadow: 1px 1px 2px #000000;
    justify-content: space-between;
}
/* CONTATO */
#Contato {
    width: cover;
    padding: 10px;
    background-color: #000000;
}
.textoContato a {
    /* Define o estilo padrão do texto */
    color: rgb(255, 255, 255); /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    position: relative; /* Define a posição como relativa para que a sombra possa ser posicionada */
}

.textoContato a:hover {
    /* Define o estilo do texto quando destacado */
    animation: gradientText 2s infinite alternate; /* Aplica a animação de gradiente */
}

@keyframes gradientText {
    0% {
        color: rgb(255, 255, 255); /* Cor inicial do texto */
        text-shadow: 0 0 2px rgb(252, 244, 200), 0 0 5px rgb(246, 209, 140), 0 0 10px rgb(211, 132, 75); /* Sombra de texto com efeito degradê */
    }
    50% {
        color: gold; /* Cor inicial do texto */
        text-shadow: 0 0 5px gold, 0 0 10px orange, 0 0 20px chocolate; /* Sombra de texto com efeito degradê */
    }
    100% {
        color: orange; /* Cor final do texto */
        text-shadow: 0 0 10px chocolate, 0 0 20px orange, 0 0 30px gold; /* Sombra de texto com efeito degradê */
    }
}
.Flex2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.Flex4 {
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
}
.Flexzin {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
}
/* FOOTER */

footer {
    left: -10px;
    position: relative;
    width: 400px;
    height: 0 auto;
    background-color: #000000;
    padding: 20px;
}

#Creditos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
}
#Creditos h3 {
    font-size: small;
}
/* Smartphone Landscape */
@media (min-width: 576px) {
    body {
        background-color: whitesmoke;
    }
    /* Layout */
    .container {
        max-width: 540px;
    }
    /* Destaque */
    main h1, main h2 {
        text-shadow: #343538 0.05em 0.05em 0.05em;
    }
}

/* Tablet Portrait */
@media (min-width: 768px) {
    body {
        background-color: whitesmoke;
    }
    /* Layout */
    .container {
        max-width: 720px;
    }
    /* Destaque */
    main {
        background-position: right 80px;
        background-position-y: -100px;
        margin-top: -10px;
        height: cover;
    }
        /* CONTATOS */
        .textoContato {
            padding-top: 100px;
            text-align: center;
            font-size: small;
            color: white;
            text-shadow: 1px 1px 2px #000000;
            justify-content: center;
        }
        .textoContato1 a {
            text-decoration: none;
            color: white;
        }
        .textoContato1 {
            text-align: center;
            font-size: small;
            color: white;
            text-shadow: 1px 1px 2px #000000;
            justify-content: space-between;
        }
        .foto {
            margin-left: 275px; 
        }
}

/* Tablet Landscape */
@media (min-width: 992px) {
    body {
        background-color: whitesmoke;
    }
    /* Layout */
    .container {
        max-width: 960px;
    }
     /* Destaque */
     main {
        margin-top: -10px;
        height: 50vh;
    }
        /* CONTATOS */
        .textoContato {
            padding-top: 100px;
            text-align: center;
            font-size: small;
            color: white;
            text-shadow: 1px 1px 2px #000000;
            justify-content: center;
        }
        .textoContato1 a {
            text-decoration: none;
            color: white;
        }
        .textoContato1 {
            padding-top: 100px;
            text-align: center;
            font-size: small;
            color: white;
            text-shadow: 1px 1px 2px #000000;
            justify-content: space-between;
        }
}

/* Desktop */
@media (min-width: 1200px) {
    body {
        background-color: whitesmoke;
    }
    /* Layout */
    .container {
        max-width: 1140px;
    }

    /* Cabeçalho */
    header {
        height: 68px;
        opacity: 0.99;
    }
    .FlexMenu {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    label {
        display: none;
    }
    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        margin-top: 12px;
    }
    nav ul li {
        margin-right: 0px;
    }
    nav ul li:last-child {
        margin-right: 0px;
    }
    nav ul li a {
        text-decoration: none;
        color: white;
        transition: color 0.3s;
    }
    nav ul li a:hover {
        color: #f6ff00;
    }
    #logo img {
        margin-top: -20px;
        margin-left: -10px;
        width: 150px;
        height: 150px;
    }
    .hero-slider .carousel-cell{
        margin-top: 0px;
        width: 70vh;
        height: 50vh;
        font-family: 'Poppins', sans-serif;
    }
     /* Sobre nós */
    #Sobre {
        height: 650px;
        display: flex;
        flex-direction: row;
        background-color: white;
        padding: 10px 10px;
        text-align: left;
        justify-content: left;
        align-items: left;
    }
    .textoSobre {
        text-indent: center;
        text-align: center;
        position: relative;
        right: 0px;
        transition: transform 1s ease, left 1s ease;
    }
    .foto {
        position: relative;
        left: -450px;
        width: 55vh;
        border-radius: 15px 15px 15px 15px;
        transition: transform 1s ease-in-out;
    }
    .foto1 {
        position: relative;
        margin-top: 50px;
        margin-left: 1050px;
        margin-bottom: -75px;
        height: 70vh;
        width: 50vh;
        border-radius: 15px 15px 15px 15px;
        transition: transform 1s ease-in-out;
    }
    /* #container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
  
    #animatedImage {
        position: absolute;
        left: 100%; /* Inicialmente fora da tela à direita */
        /* top: 50%;
        opacity: 0; /* Inicialmente invisível */
        /* transition: opacity 1s, left 1s; Adiciona transições para suavizar o efeito
      } */
    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .Row {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
    }
     /* Destaque */
     main {
        margin-top: 0px;
        height: 40vh;
        background-color: #000000;
        /* background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)); */
        justify-content: center;
        text-align: center;
    }
    main #logobg {
        margin-top: -50px;
        width: 50vh;
        height: 50vh;
    }
    .destaqueSobre {
        color: #000000;
        font-family: "GeosansLight", sans-serif;
        font-size: 23px;
        font-weight: 100;
        font-style: italic;
        text-align: center;
    }
    .destaqueSobre1 {
        font-family: "GeosansLight", sans-serif;
        padding: 100px;
        text-align: center;
        height: 550px;
        font-size: 1.5em;
    }
    #Cursos, h2{
        font-size: 1em;
        justify-content: center;
        align-items: center;
    }
    #Inscrever {
        font-family: "Montserrat", sans-serif;
        background: linear-gradient(to top left, gold, orange, rgb(255, 106, 0));
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 40px;
        box-shadow: 1px 1px 5px #000;
        font-size: 28px;
        cursor: pointer;
        margin-top: -100px;
        margin-left: 803px;
        margin-bottom: 50px;
    }
    #Inscrever:hover {
        color: #000;
    }
    .textoSobre {
        color: #000;
        font-family: "GeosansLight", sans-serif;
        right: -1000px;
        height: 500px;
        width: 1200px;
        display: flex;
        position: fixed;
        justify-self: right;
        text-align: center;
        margin-top: -250px;
        font-size: 1.8em;
    }
    .textoSobre1 {
        margin-top: 20px;
        font-size: 1.2em;
    }
    #null h2{
        font-size: 2em;
    }
    #null h3{
        font-size: 1.6em;
    }
    /* LOCALIZAÇÃO DOS MAPAS */
    #LOCAL {
        display: flex;
        background-color: #000;
    }

    .localy {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .map {
        background-color: #fff;
        margin-top: 15px;
        margin-bottom: -45x;
        border-radius: 80px;
        box-shadow: 20px 20px 100px linear-gradient(to top left, gold, orange, chocolate);
        text-align: center;
    }
    /* CONTATOS */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 96.8%;
        margin-left: -30px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 0px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        margin-right: -20px;
        margin-bottom: 20px;
    }
    #Contato1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .textoContato {
        margin-top: -5px;
        padding-top: 5px;
        text-align: center;
        font-size: small;
        color: white;
        justify-content: center;
    }   
    .textoContato #telefone ,#email{
        margin-bottom: 10px;
        margin-left: 30px;
    }   
    .linebot {
        margin-left: -30px; 
        width: 197.9vh;
        height: 3px;
        background: linear-gradient(to top left, gold, orange, chocolate);
    }
    .linebot2 {
        margin-left: -30px;
        width: 200.5vh;
        height: 3px;
        background: linear-gradient(to top left, gold, orange, chocolate);
    }
    #Creditos {
        width: 97.8%;
        margin-right: -30px;
        margin-top: 100px;
        justify-content: bottom;
    }
    #Creditos, h3 {
        margin-left: 25px;
    }
}